@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}

body {
  font-family: Nunito;
  background: radial-gradient(#e66465, #9198e5);
  background-color: #0F071C;
  background-image: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 48, 131, 0.353) 0%,
    #0F071C 60%
  );
  background-attachment: fixed;
  min-height: 100vh;
  /* background-image: 
linear-gradient(to right, rgba(6, 89, 184, 0.274), transparent 105%),  
linear-gradient(to left, #f0f01d1c, transparent 105%);
background-repeat: no-repeat;
background-position: left top, right top;
background-size: 25% 100%, 25% 100%; */
}

@font-face {
  font-family: "Houschka";
  src: url("./assets/fonts/4176-font.otf") format("opentype");
}

